/* General Styling */

* {
  box-sizing: border-box;
}

html {
  font-family: Avenir, Helvetica, sans-serif;
}

body {
  margin: 0;
}

nav {
  margin: 0;
}

h1 {
  margin: 0;
}

ul,
li {
  margin: 0;
}

img {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

/* Header Styling */

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  width: 50px;
}

input[type="search"] {
  min-width: 200px;
  font-size: 1rem;
  border: none;
  outline: none;
  -webkit-appearance: none;
}

.search-icon {
  display: flex;
  justify-content: right;
  align-items: center;
}

.search-icon:hover {
  opacity: 0.7;
}

.search-icon img {
  width: 18px;
}

.search-bar {
  border: 0.1rem solid black;
  padding: 0.4rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.search-bar:focus-within {
  box-shadow: 0px 0px 0px 0.4rem rgba(0, 0, 0, 0.2);
}

.menu li {
  list-style: none;
}

.menu li:hover {
  opacity: 0.7;
}

.menu {
  padding: 0;
}

nav {
  text-align: right;
  writing-mode: vertical-rl;
}

header {
  display: grid;
  align-items: end;
  grid-template-columns: max-content min-content min-content auto;
  gap: 1rem;
  padding: 1rem;
}

@supports not (gap: 1rem) {
  .menu li {
    margin: 0 0.5rem;
  }

  .menu li:nth-of-type(1) {
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  nav {
    order: 3;
  }

  .search-bar {
    order: 4;
    grid-column: 2;
    justify-content: space-between;
  }

  .logo {
    align-self: flex-end;
  }

  h1 {
    align-self: flex-end;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 350px) {
  nav {
    line-height: 1.8rem;
    text-align: center;
    writing-mode: horizontal-tb;
  }
}

/* Product Styling */

.product img {
  min-width: 70vw;
  max-width: 500px;
  height: auto !important;
  align-self: center;
  object-fit: contain;
}

.product {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem 3rem 1rem 3rem;
  gap: 2rem;
  justify-content: center;
}

.product-item {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 1rem;
}

.name {
  font-size: 1.6rem;
}

.price {
  font-variant-numeric: slashed-zero;
  font-size: 1rem;
}

.price span {
  font-size: 2.6rem;
  font-weight: bolder;
}

.purchase {
  font-size: 1rem;
  font-weight: 100;
  color: white;
  background-color: black;
  border: 0.1rem solid black;
  padding: 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.purchase:hover {
  opacity: 0.7;
}

.kinds {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.kinds input {
  visibility: hidden;
}

.kinds label {
  cursor: pointer;
  white-space: nowrap;
  padding: 0.5rem;
}

.kinds input:checked + label {
  border: 0.1rem solid black;
  padding: 0.4rem;
  border-radius: 0.5rem;
}

.description {
  line-height: 1.8rem;
  min-width: 36ch;
  max-width: 68ch;
  text-align: left;
}

.specs {
  display: grid;
  align-self: center;
  align-items: center;
  line-height: 1.8rem;
}

.specs ul {
  list-style-type: none;
  list-style-position: inside;
  padding-left: 0;
  text-align: center;
}

.specs ul li::before {
  display: inline-block;
  content: "";
  border-radius: 0.375rem;
  border: 0.15rem solid black;
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.5rem;
  background-color: white;
}

.specs ul li::after {
  display: inline-block;
  content: "";
  border-radius: 0.375rem;
  border: 0.15rem solid black;
  height: 0.5rem;
  width: 0.5rem;
  margin-left: 0.5rem;
  background-color: white;
}
